.App {
  padding: 100px;
}

.Container {
  position: relative;
  height: 130px;
  width: 480px;
  display: grid;
  border: 1px solid;
  z-index:1;
}

.ContainerCell {
  background-color: #555;
  border: 1px solid;
  z-index:-1;
}

.Note {
  background-color: #ff0;
  border: 1px solid;
  z-index: 5;
  justify-content: space-between;
}

.NoteExtender {
  background-color: #FFFF00;
  font-size: 1vh;
  height: 100%;
  width: 5px;
  text-align: center;
  cursor: col-resize;
  pointer-events: auto;
}

#menu {
  background-color: #222;
  height: 40px;
  width: 482px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#playButton {
  height:20px ;
  width:20px ;
}

img {
  height: inherit;
  width: inherit;
}

#bpmMenu {
  display: flex;
}

#bpmText {
  display: inline;
  width: 100px;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 250px;
  height: 20px;
  background: #999999;
  outline: none;
  margin: auto;
}

.slider::-webkit-slider-thumb{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 20px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #FFFF33; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

#playhead {
  position: absolute;
  display: block;
  height: 132px;
  width: 2px;
  background-color: #FF0000;
  z-index: 50;
}

.movingPlayhead {
  -webkit-animation: play 6s infinite;
  animation: play 6s infinite;
  animation-delay: .15s;
  animation-timing-function: linear;
}

@keyframes play {
    from {transform: translateX(0px);}
    to {transform: translateX(480px);}
}

@-webkit-keyframes play {
    from {transform: translateX(0px);}
    to {transform: translateX(480px);}
}
